.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Text-field-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Text-field-label-container {
  margin-top: 6px;
  align-items: flex-end;
}

.Result-item-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Result-win-rate-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
